* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #8000ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: black;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    width: 400px;          
    height: 20px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.bar {
    height: 100%;
    background: green;
}
